.text {
    padding: 65px 0;
    @include bg-cover;

    @include small-tablet{
        padding: 45px 0;
    }
}

.text__desc {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    & + &{
        margin-top: 28px;

        @include mobile{
            margin-top: 15px;
        }
    }

    @include mobile{
        font-size: 13px;
    }
}