<footer class="footer" style="background-image: url(./assets/images/footer/bg.webp);">
    <div class="container">
        <div class="footer__inner header__inner">
            <a href="" class="header__inner__logo footer__inner__logo">
                <img src="./assets/images/svg/logo.svg" alt="logo" width="90" height="82">
            </a>
            <nav>
                <ul class="header__inner__item__nav list-reset">
                    <li><a href="">Доставка газа</a></li>
                    <li><a href="">Дизельное топливо</a></li>
                    <li><a href="">Статьи</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </nav>
            <div class="header__inner__item footer__inner__item">
                <a href="tel:+79685933118" class="header__inner__item__tel footer__link__tel">+7 (968) 593-31-18</a>
                <a href="tel:88007006599" class="header__inner__item__tel footer__link__tel">8 (800) 700-65-99</a>
                <a href="" class="header__inner__item__link btn-red">Обратная связь</a>
                <!-- <button class="header__inner__item__link btn-red">Обратная связь</button> -->
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__bottom__text h-reset">
                ©1998-2023 ООО «Сириус» Продажа сжиженного газа пропан и бутан. Заправка газгольдеров. Авторские права защищены.
            </p>
        </div>
    </div>
</footer>